a {
    color: {{ .Param "colors.identifier" }};
}

a:hover {
    color: {{ .Param "colors.identifier_dark" }};
}

div.main .content .markdown, div.header .name, div.header nav ul a:hover {
    color: {{ .Param "colors.foreground" }};
}

div.header nav ul a {
    color: {{ .Param "colors.trivial" }};
}

div.main .content .markdown code {
    background-color: {{ .Param "colors.background" }};
    color: {{ .Param "colors.identifier" }};
}

div.main .content .markdown pre, div.main .content .markdown pre code {
    background-color: {{ .Param "colors.background_dark" }};
    color: {{ .Param "colors.code" }};
}

.ssk {
    background-color: {{ .Param "colors.trivial" }};
}
